body {
  background: #333;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

svg {
  height: 95vh;
  width: 100vw;
}

#js {
  animation: my-bar 13s linear infinite;
  transform-origin: center;
}

@keyframes my-bar {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#git {
  animation: git-bar 13s linear infinite;
  transform-origin: center;
}

@keyframes git-bar {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#wordpress {
  animation: wordpress-bar 13s linear infinite;
  transform-origin: center;
}

@keyframes wordpress-bar {
  from {
    transform: rotate(85deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#bootstrap {
  animation: bootstrap-bar 13s linear infinite;
  transform-origin: center;
}

@keyframes bootstrap-bar {
  from {
    transform: rotate(-200deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#react {
  animation: react-bar 13s linear infinite;
  transform-origin: center;
}

@keyframes react-bar {
  from {
    transform: rotate(-45deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#css {
  animation: css-bar 13s linear infinite;
  transform-origin: center;
}

@keyframes css-bar {
  from {
    transform: rotate(120deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

#html {
  animation: html-bar 13s linear infinite;
  transform-origin: center;
}

@keyframes html-bar {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}