*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
header,
nav,
main {
  display: flex;
}
p {
  font-size: 1em;
  font-weight: 200;
  display: inline-block;
}
h1 {
  font-size: 4.2vw;
}
h2 {
  text-decoration: underline;
  font-size: 1.75vw;
  padding-bottom: 5%;
}

body {
  overflow: hidden;
  font-family: Montserrat;
  font-style: normal;
  height: 100vh;
  width: 95vw;
  margin: auto;
  font-family: Montserrat, sans-serif;
  /* padding: 1.94931774% 4.30555556%; */
}
header {
  flex: 1;
}
.vertical-nav {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.vertical-nav ul {
  list-style: none;
}
li {
  position: relative;
  padding: 5px;
}
.lottie {
  height: 25px;
  width: 25px;
  position: absolute;
  transform: translate(-25px, -5px);
  pointer-events: none;
}

.project-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7.4858841% 0 7.4858841%;
}
.project-card {
  cursor: pointer;
  height: 15em;
  flex: 1;
  position: relative;
  z-index: 1;
  margin: 0 2% 0 0;
  overflow: hidden;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 2px 2px 5px 0px;
  transition: 0.3s ease-out;
}
.project-card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  transition: 0.3s ease-out;
}
.project-details-slider {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88)),
    linear-gradient(180deg, #817777 0%, rgba(255, 255, 255, 0) 100%);
  color: white;
  height: 100%;
  width: 90%;
  position: absolute;
  top: 0px;
  left: 100%;
  pointer-events: none;
  opacity: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1%;
  /* z-index: -100; */
  transition: 0.3s ease-out;
}
.project-details-slider p {
  font-size: 1em;
  font-weight: 200;
}
.project-details-slider h5 {
  font-size: 1em;
  font-weight: 500;
}
.project-details-slider-details-header {
  min-height: 2.75em;
}

.about-content-slider {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88)),
    linear-gradient(180deg, #817777 0%, rgba(255, 255, 255, 1) 100%);
  color: white;
  position: absolute;
  width: 66.180556%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 100;
  /* opacity: 0; */
  transition: 0.4s ease-out;
}
.hero {
  background: linear-gradient(0deg, rgba(25, 24, 24, 0), rgba(25, 24, 24, 0)),
    url("../images/brown1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 33%;
  /* filter: opacity(); */
}
.home-content-layer {
  z-index: 200;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 7.47889023% 7.47889023% 7.47889023% 30%;
}
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10%;
}
.home-content-layer h1 {
  text-decoration: underline;
}
.home-content-layer p {
  line-height: 200%;
  font-weight: 200;
  padding: 25px;
}
.contact-container {
  align-self: center;
  text-align: center;
}

.social-icons {
  margin: 5% 5%;
  color: white;
  transition: 0.4s;

  font-size: 1.5vw;
}
/* psuedo classes */
.social-icons:hover {
  color: #333;
}
.project-card:hover {
  border-radius: 0;
  box-shadow: 5px 2px 10px 0px;
}
/* js added classes */
.project-slider-move {
  left: 10%;

  opacity: 1;
  z-index: 200;
}

.move-home {
  right: 0;
  opacity: 1;
}
.hide-home {
  transform: translateX(100%);

  opacity: 0;
}
/* lg screen readjustment */
@media screen and (max-width: 1300px) {
  .project-details-slider p {
    font-size: 0.9em;
    font-weight: 200;
  }
  .project-details-slider h5 {
    font-size: 0.9em;
    font-weight: 500;
  }
}
/* lg md sm desktop */
@media screen and (max-width: 1157px) {
  body {
    background-color: grey;
  }
  p {
    font-size: 0.9em;
    font-weight: 200;
  }
  h1 {
    font-size: 3.5vw;
  }
  h2 {
    text-decoration: underline;
    font-size: 1.75vw;
    padding-bottom: 5%;
  }
  .project-details-slider p {
    font-size: 0.85em;
    font-weight: 200;
  }
  .project-details-slider h5 {
    font-size: 0.85em;
    font-weight: 500;
  }
}
/* tablet */
@media screen and (max-width: 1020px) {
  p {
    font-size: 0.85em;
    font-weight: 200;
  }
  h1 {
    font-size: 3.5vw;
  }
  h2 {
    text-decoration: underline;
    font-size: 1.25em;
    padding-bottom: 5%;
  }
  .project-details-slider p {
    font-size: 0.65em;
    font-weight: 200;
  }
  .project-details-slider h5 {
    font-size: 0.65em;
    font-weight: 500;
  }
  .social-icons {
    font-size: 1.25em;
  }
  .project-card {
    height: 12em;
  }
  small {
    font-size: 0.5em;
  }
}
/* mobile */
@media screen and (max-width: 680px) {
  body {
    flex-direction: column;

    overflow: auto;
    font-style: normal;
    height: 100vh;
    width: 95vw;
    font-family: Montserrat, sans-serif;
  }
  header {
    display: none;
  }

  .main-content {
    flex-direction: column-reverse;
  }
  .project-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 0;
  }
  .project-card {
    position: relative;
    cursor: pointer;
    height: 12em;
    width: 90vw;
    margin: 2% 0 0 0;
    overflow: visible;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 2px 2px 5px 0px;
    transition: 0.3s ease-out;
  }
  .project-card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    transition: 0.3s ease-out;
  }
  .project-details-slider {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88)),
      linear-gradient(180deg, #817777 0%, rgba(255, 255, 255, 0) 100%);
    color: white;
    height: 100%;
    width: 100%;
    pointer-events: none;
    position: absolute;
    left: 0;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5%;
    /* z-index: -100; */
    transition: 0.3s ease-out;
  }
  .project-details-slider p {
    font-size: 1.25em;
    font-weight: 200;
  }
  .project-details-slider h5 {
    font-size: 1.25em;
    font-weight: 500;
  }
  .project-details-slider-details-header {
    min-height: 3.75em;
  }

  .about-content-slider {
    margin: auto;
    position: relative;
    width: 95vw;
  }
  .hero {
    background: linear-gradient(0deg, rgba(25, 24, 24, 0), rgba(25, 24, 24, 0)),
      url("../images/brown1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 33%;
    /* filter: opacity(); */
  }
  .home-content-layer {
    /* background-color: rgba(98, 255, 207, 0.4); */
    z-index: 200;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 7.47889023% 7.47889023% 7.47889023% 30%;
  }
  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10%;
  }
  .home-content-layer h1 {
    text-decoration: underline;
    font-size: 2.5em;
  }
  .home-content-layer p {
    font-size: 0.95em;
    line-height: 200%;
    font-weight: 200;
    padding: 25px;
  }
  .contact-container {
    align-self: center;
    text-align: center;
  }

  .social-icons {
    margin: 5% 5%;
    color: white;
    transition: 0.4s;
    font-size: 4.5vw;
  }
  .project-card:hover {
    border-radius: 0;
    box-shadow: 5px 2px 10px 0px;
  }
}
